<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheets" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-red">
        <a class="text-blue-500" href="/">back to home</a>
        <h1 class="text-3xl tracking-tighter mb-3">All User</h1>
        <div class="users flex gap-3 flex-wrap">
            
            <%users.forEach(function(user) {%>
                <div class="user max-w-72 p-4 bg-zinc-800 rounded-lg">
                    <div class="w-full h-52 rounded-lg bg-zinc-700">
                        <img class="w-full h-full object-cover object-center" src="<%=user.no%>" alt="">


                    </div>
                    <h3 class="text-xl tracking-tighter"><%=user.name %></h3>
                    <h5 class="flex-zinc-500"><%=user.email   %></h5>
                    <div class="flex gap-3 mt-10">
                        <a class="text-zinc-200" href="/edit/<%=user._id%>">Edit User</a>
                        <a class="text-red-500" href="/delete/<%=user._id%>">Delete</a>
    
                    </div>
                </div>
           <% })%>





        </div>
       
        </div>
        
</body>
</html>